[Unit]
Description=System Security Audit Service
After=network.target

[Service]
ExecStart=/home/shadrack/audit-tool/sync.sh
WorkingDirectory=/home/shadrack/audit-tool
type=simple
User=shadrack
Restart=on-failure

[Install]
WantedBy=multi-user.target

